{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    height: 50px;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
}

.content {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: baseline;
    background-color: #fff;
}

.musicnav {
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}